<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">

<%- include('partials/header') %>
<%- include('partials/banner') %>

<main class="flex flex-col flex-1 p-8">
  <h1 class="text-3xl font-bold mb-4">Anúncios de Doguinhos</h1>
  
  <div id="colunas" class="">
    <% ads.forEach(ad => { %>
      <a href="/ads/<%= ad._id %>" class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <img src="<%= ad.photos[0] %>" alt="<%= ad.name %>" class="card-image">
        <div class="card-content p-4">
          <h4 class="font-semibold text-lg mb-2"><%= ad.name %></h4>
          <p class="text-gray-600"><%= ad.city %></p>
        </div>
      </a>  
    <% }) %>
  </div>

   
  </div>

   
</main>

<!-- Sidebar de Anúncios -->
<!-- <section class="sidebar">
  <h2 class="">Anúncios</h2>
  <p>Last edited just now</p>
</section> -->


<%- include('partials/footer') %>

